body {
    line-height: 1.6;
}

main {
    padding: 0px 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    color: #f5f1f1;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    color: #f8f8f8;
    padding-bottom: 5px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

p {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.section {
    margin-bottom: 25px;
}

.notice {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background: #242438;
    border-left: 4px solid #444;
}

.social-links li {
    margin: 10px 0;
    font-size: 1.1em;
}
.social-links a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.social-links a:hover {
    text-decoration: underline;
}

@media(max-width:950px){
  main {
    padding: 0px 10px;
  }
}