body {
  font-family: Arial, sans-serif;
  background: #e4e3e2;
  color: #000000;
  margin: 0;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #ebe9e8;
}

button {

  background: #dddddd;
  color: rgb(0, 0, 0);
  width: 100px;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border: 1px solid #ff8b26;
  border-radius: 6px;
}

button:hover {
  background: #ff8820;
}

.tournament-card {
  background: #ececed;
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff8b26;
  border-radius: 10px;
}

.card {
  background: #c9c9c9;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

input, textarea, select {
  width: 95%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

select{
  width: 99%;
}

.tournament {
  padding: 10px;
  margin-top: 10px;
  background: #ebebeb;
  border: 1px solid #ff8b26;
  border-radius: 6px;
}
 
.edit{
  background-color: rgb(214, 214, 214);
  color: #0b1020;
  font-style: oblique;
  margin-left: 10px;

}

.details{
 margin-bottom: 5px;

}
