        body {
            line-height: 1.6;
        }

        .container {
            max-width: 900px;
            margin: 10px auto;
            background:rgba(14, 14, 14, 0.841);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.08);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #f5f1f1;
        }

        .h2 {
            margin-top: 30px;
            color: #f8f8f8;
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
        }

        ul {
            margin-top: 10px;
            padding-left: 20px;
        }

        li {
            margin-bottom: 8px;
        }

        .section {
            margin-bottom: 25px;
        }

        .note {
            margin-top: 30px;
            padding: 15px;
            background: #242438;
            border-left: 4px solid #444;
        }