.topbar {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensures nothing overflows */
    color: #38bdf8;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
  height: 45px;       
  width: auto;
  object-fit: contain;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: #38bdf8;
    cursor: pointer;
}
/* SIDEBAR */

#sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

#sidebarOverlay {
  opacity: 0;
  transition: 0.9s;
}

#sidebarOverlay.active {
  display: block;
  opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #020617;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.sidebar-header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s ease;
    background: transparent;
}

.sidebar ul li a:hover {
    background: #0f172a;
    color: #38bdf8;
    transform: translateX(6px);
}

.sidebar ul li a.active {
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
}


.auth-btn {
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s ease;

  border: none;
  outline: none;
}

.points {
  display: inline-flex;
  margin-left:auto;
  align-items: center;
  gap: 8px;
  background-color: #0f0901b1;
  color: #00ff08;
  border: 1px solid #1f3b66;
  padding: 10px 18px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;

}

.auth-btn.login {
  background: linear-gradient(135deg, #0066ff, #00b3ff);
  color: #ffffff;
}

.auth-btn.login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 102, 255, 0.35);
}

.auth-btn.account {
  background: #0b1220;
  color: #ffffff;
  border: 1px solid #1f3b66;
}

.auth-btn.account:hover {
  background: #12203a;
  border-color: #0066ff;
}

.auth-btn i {
  font-size: 16px;
}

