:root{
 color:aqua
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #090301;
  color: #ffffff;
}

.logo {
  height: 45px;       /* adjust size */
  width: auto;
  object-fit: contain;
}

p{
  color: #f1f1f1;
}

main {
  flex: 1;
}

footer {
  background: #020617;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #94A3B8;
}

.footer-links {
  margin-bottom: 8px;
}

.footer-links a {
  color: #CBD5F5;
  text-decoration: none;
  margin: 0 6px;
  font-size: 14px;
}

.footer-links a:hover {
  color: #38BDF8;
  text-decoration: underline;
}

.footer-links span {
  color: #475569;
}

.footer-copy {
  font-size: 13px;
  color: #94A3B8;
}
