/* TOP BAR */
.topbar {
    background: #020617;
    color: #38bdf8;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: #38bdf8;
    cursor: pointer;
}
/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #020617;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.sidebar-header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

/* LIST */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* BUTTON STYLE */
.sidebar ul li a {
    display: block;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s ease;
    background: transparent;
}

/* HOVER EFFECT */
.sidebar ul li a:hover {
    background: #0f172a;
    color: #38bdf8;
    transform: translateX(6px);
}

/* ACTIVE PAGE (OPTIONAL) */
.sidebar ul li a.active {
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
}
